.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.app-label{
  width: 100%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: white;
  pointer-events: none;
}

.map{
  height: 100vh;
  width: 100%;
}

.clicked-coord-label{
  position: absolute;
  right: 0;
  bottom: 0;
  background: white;
  border-radius: 5px;
}

.clicked-coord-label p {
  margin: 10px;
}

.popup {
    z-index: -5;
    
}
.locate {
    top: 6em;
    left: .5em;
}

.departures {
    background-color: red;
    width: 100vw;
    height: 100vh;
}
html,
body,
#map {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font: 1em/1.5 BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: #222;
    font-weight: 400;
}

#map {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
}

.new-line {
    white-space: pre-line;
}

.ol-popup {
    font-size: 14px;
    position: absolute;
    background-color: yellow;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
    max-width: 25%;
}

    .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
    }

    .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
    }

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}